.m-b-30 {
	margin-bottom: 12px;
}

.container_margin {
	margin-top: 50px;
}

select.form-control:not([size]):not([multiple]) {
    height: 39px;
}

.alert {
	margin-top: 30px;
}

.edit_icon {
	padding: 5px;
	color:#448aff;
}

.delete_icon {
	color:#ff5252;
}

.view_icon {
	color:#11c15b;
}

.adjustment_icon {
	color: #868e96;
}

.assign_icon {
	color:#11c15b;
}

.md_desk_card_header {
	background-color: #536dfe !important;
}

.make_font_white {
	color: white !important;
}

.operation_card_header {
	background-color: #11c15b !important;
}

.operation_card_header {
	background-color: #ff5252 !important;
}

.sector-section .card-header {
	background-color: #11c15b;
}

.sector-list {
	padding-left: 10px;
}

.company_card_header {
	background-color: #ffe100 !important;
}

.department_card_header {
	background-color: #00bcd4 !important;
}

.focus_card_header {
	background-color: #5D4037 !important;
}

.focus_project_header {
	background-color: #37474f !important;
}

.logo_set {
	height: 42px;
    margin-left: 21px;
}

.float_right {
	float: right;
}

.btn-search-attendance {
	float: right;
}

select.form-control, select.form-control:focus, select.form-control:hover {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

@media only screen and (min-device-width: 765px) and (max-width: 1630px) {
    .pcoded[theme-layout="horizontal"] .pcoded-navbar[pcoded-navbar-position="fixed"] {
	    position: relative;
	}
	.pcoded[theme-layout="horizontal"][pcoded-device-type="desktop"] .pcoded-navbar .pcoded-item, .pcoded[theme-layout="horizontal"][pcoded-device-type="desktop"] .pcoded-navbar .pcoded-item > li.fullwidth-drop, .pcoded[theme-layout="horizontal"][pcoded-device-type="tablet"] .pcoded-navbar .pcoded-item, .pcoded[theme-layout="horizontal"][pcoded-device-type="tablet"] .pcoded-navbar .pcoded-item > li.fullwidth-drop {
	   background-color: #fff;
	}
}

@media only screen and (min-device-width: 765px) and (max-width: 1250px) {
    .col-lg-4 {
    	position: relative !important;
   		width: 100% !important;
   		flex: none !important;
   		max-width: none !important;
   	}
}

.badge {
	padding: 5px 5px;
    margin-left: 5px;
}

.badge_red {
	background: red;
}


.badge_yellow {
	background: rgb(255,165,0);
}

#select_department {
	margin-bottom: 20px;
}

.date_pick {
	font-size: 20px;
	padding: 10px;
}

#divDatePicker{
	position: absolute;
	z-index: 999;
}

.gray_clr {
	background-color: #DDDDDD;
}

.color_red_emp {
	color: red;
}

.margin_bottom_18 {
	margin-bottom: 18px;
}

.margin_top_22 {
	margin-top: 22px;
}

.bold {
	font-weight: bold;
}

.filter-attendance-form {
	margin-bottom: 20px;
}

.employee-select-container {
	margin-bottom: 35px;

}

.employee-select-container .select2-selection--single {
	height: 45px;
}

.employee-select-container .select2-container--default .select2-selection--single .select2-selection__rendered {
	background-color: #fff;
	border: none;

}
.employee-select-container .select2-container {
	width: 300px !important;
}
.date-picker-from {
	display: inline;
	float: left;
	margin-right: 20px;
}

#green_row {
	background-color: #91DCCC;
}

#yellow_row {
	background-color: #91DCCC;
}

#red_row {
	background-color: #EA91A8;
	color: #fff;
}

#font_color_white {
	color: #fff;
}